In [1]:
import pandas as pd

In [2]:

df = pd.read_csv('learningSet.csv')

/var/folders/2n/45mrq41x2yq_l53c6v6v5qnc0000gn/T/ipykernel_59555/3194240695.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('learningSet.csv')

In [4]:
df.head(5)

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [5]:
df.shape

(95412, 481)

### Use the method value_counts on the columns MAILCODE, NOEXCH, and MDMAUD and check the proportion of category
### representation in those columns. Since there is a huge imbalance in the representation of category/categories, 
### we will remove this column. Add those columns to the drop_list.

In [11]:
# Check the value counts and proportions for 'MAILCODE'
mailcode_counts = df['MAILCODE'].value_counts()
mailcode_proportions = df['MAILCODE'].value_counts(normalize=True)
print("MAILCODE value counts:")
print(mailcode_counts)
print("\nMAILCODE proportions:")
print(mailcode_proportions)

# Check the value counts and proportions for 'NOEXCH'
noexch_counts = df['NOEXCH'].value_counts()
noexch_proportions = df['NOEXCH'].value_counts(normalize=True)
print("\nNOEXCH value counts:")
print(noexch_counts)
print("\nNOEXCH proportions:")
print(noexch_proportions)

# Check the value counts and proportions for 'MDMAUD'
mdmaud_counts = df['MDMAUD'].value_counts()
mdmaud_proportions = df['MDMAUD'].value_counts(normalize=True)
print("\nMDMAUD value counts:")
print(mdmaud_counts)
print("\nMDMAUD proportions:")
print(mdmaud_proportions)

MAILCODE value counts:
     94013
B     1399
Name: MAILCODE, dtype: int64

MAILCODE proportions:
     0.985337
B    0.014663
Name: MAILCODE, dtype: float64

NOEXCH value counts:
0    61203
0    33882
1      195
1       90
X       35
         7
Name: NOEXCH, dtype: int64

NOEXCH proportions:
0    0.641460
0    0.355113
1    0.002044
1    0.000943
X    0.000367
     0.000073
Name: NOEXCH, dtype: float64

MDMAUD value counts:
XXXX    95118
C1CM       65
L1CM       44
I1CM       37
D2CM       28
C2CM       24
D1CM       20
L2CM       15
L1LM        8
C1LM        8
I2CM        7
D5CM        5
D5MM        5
D2MM        4
C5CM        3
C2MM        3
C2LM        3
D5TM        3
I1LM        3
I5CM        1
C1MM        1
I5MM        1
C5MM        1
I2MM        1
L1MM        1
L2LM        1
C5TM        1
L2TM        1
Name: MDMAUD, dtype: int64

MDMAUD proportions:
XXXX    0.996919
C1CM    0.000681
L1CM    0.000461
I1CM    0.000388
D2CM    0.000293
C2CM    0.000252
D1CM    0.000210
L2CM    0.000157
L1LM    0.000084
C1LM    0.000084
I2CM    0.000073
D5CM    0.000052
D5MM    0.000052
D2MM    0.000042
C5CM    0.000031
C2MM    0.000031
C2LM    0.000031
D5TM    0.000031
I1LM    0.000031
I5CM    0.000010
C1MM    0.000010
I5MM    0.000010
C5MM    0.000010
I2MM    0.000010
L1MM    0.000010
L2LM    0.000010
C5TM    0.000010
L2TM    0.000010
Name: MDMAUD, dtype: float64

In [12]:
# Create a drop list for columns with significant imbalance
drop_list = []

# Add 'MAILCODE' to drop list if there is a significant imbalance
if mailcode_proportions.min() < 0.05:
    drop_list.append('MAILCODE')

# Add 'NOEXCH' to drop list if there is a significant imbalance
if noexch_proportions.min() < 0.05:
    drop_list.append('NOEXCH')

# Add 'MDMAUD' to drop list if there is a significant imbalance
if mdmaud_proportions.min() < 0.05:
    drop_list.append('MDMAUD')

# Drop the columns from the DataFrame
df_dropped = df.drop(columns=drop_list)

In [14]:
# Print the updated DataFrame
print("\nDataFrame after dropping columns:")
print(df_dropped)

DataFrame after dropping columns:
       ODATEDW OSOURCE  TCODE STATE    ZIP PVASTATE   DOB RECINHSE RECP3  \
0         8901     GRI      0    IL  61081           3712
1         9401     BOA      1    CA  91326           5202
2         9001     AMH      1    NC  27017              0
3         8701     BRY      0    CA  95953           2801
4         8601              0    FL  33176           2001        X     X
...        ...     ...    ...   ...    ...      ...   ...      ...   ...
95407     9601     ASE      1    AK  99504              0
95408     9601     DCD      1    TX  77379           5001
95409     9501     MBC      1    MI  48910           3801              X
95410     8601     PRV      0    CA  91320           4005        X
95411     8801     MCC      2    NC  28409           1801        X

      RECPGVG  ... TARGET_D HPHONE_D RFA_2R  RFA_2F RFA_2A MDMAUD_R MDMAUD_F  \
0              ...      0.0        0      L       4      E        X        X
1              ...      0.0        0      L       2      G        X        X
2              ...      0.0        1      L       4      E        X        X
3              ...      0.0        1      L       4      E        X        X
4              ...      0.0        1      L       2      F        X        X
...       ...  ...      ...      ...    ...     ...    ...      ...      ...
95407          ...      0.0        0      L       1      G        X        X
95408          ...      0.0        1      L       1      F        X        X
95409          ...      0.0        1      L       3      E        X        X
95410          ...     18.0        1      L       4      F        X        X
95411       X  ...      0.0        1      L       1      G        C        1

      MDMAUD_A CLUSTER2 GEOCODE2
0            X     39.0        C
1            X      1.0        A
2            X     60.0        C
3            X     41.0        C
4            X     26.0        A
...        ...      ...      ...
95407        X     12.0        C
95408        X      2.0        A
95409        X     34.0        B
95410        X     11.0        A
95411        C     12.0        C

[95412 rows x 478 columns]

In [15]:
df_dropped

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,PVASTATE,DOB,RECINHSE,RECP3,RECPGVG,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,3712,,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,5202,,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,0,,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,2801,,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,2001,X,X,,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,0,,,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,5001,,,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,3801,,X,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,4005,X,,,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,1801,X,,X,...,0.0,1,L,1,G,C,1,C,12.0,C

## 7.02 Activity 2

## Replace null values in the columns DATASRCE and GEOCODE2.

In [16]:
# Replace null values in 'DATASRCE' column with a specified value
df_dropped['DATASRCE'].fillna('0', inplace=True)

# Replace null values in 'GEOCODE2' column with a specified value
df_dropped['GEOCODE2'].fillna('0', inplace=True)

# Print the updated DataFrame
print(df_dropped)

       ODATEDW OSOURCE  TCODE STATE    ZIP PVASTATE   DOB RECINHSE RECP3  \
0         8901     GRI      0    IL  61081           3712
1         9401     BOA      1    CA  91326           5202
2         9001     AMH      1    NC  27017              0
3         8701     BRY      0    CA  95953           2801
4         8601              0    FL  33176           2001        X     X
...        ...     ...    ...   ...    ...      ...   ...      ...   ...
95407     9601     ASE      1    AK  99504              0
95408     9601     DCD      1    TX  77379           5001
95409     9501     MBC      1    MI  48910           3801              X
95410     8601     PRV      0    CA  91320           4005        X
95411     8801     MCC      2    NC  28409           1801        X

      RECPGVG  ... TARGET_D HPHONE_D RFA_2R  RFA_2F RFA_2A MDMAUD_R MDMAUD_F  \
0              ...      0.0        0      L       4      E        X        X
1              ...      0.0        0      L       2      G        X        X
2              ...      0.0        1      L       4      E        X        X
3              ...      0.0        1      L       4      E        X        X
4              ...      0.0        1      L       2      F        X        X
...       ...  ...      ...      ...    ...     ...    ...      ...      ...
95407          ...      0.0        0      L       1      G        X        X
95408          ...      0.0        1      L       1      F        X        X
95409          ...      0.0        1      L       3      E        X        X
95410          ...     18.0        1      L       4      F        X        X
95411       X  ...      0.0        1      L       1      G        C        1

      MDMAUD_A CLUSTER2 GEOCODE2
0            X     39.0        C
1            X      1.0        A
2            X     60.0        C
3            X     41.0        C
4            X     26.0        A
...        ...      ...      ...
95407        X     12.0        C
95408        X      2.0        A
95409        X     34.0        B
95410        X     11.0        A
95411        C     12.0        C

[95412 rows x 478 columns]

## Remove the columns starting with ADATE_. We are assuming that the date when the previous mail 
## was done is not significant in the respondents decision to give donation. They may or may not even remember 
## when they received the mail in the previous years. And for the column ADATE_2, check the values in the column. 
## If the values are pretty much the same, then remove this column as well.

In [18]:
# Remove columns starting with 'ADATE_'
adate_columns = [col for col in df_dropped.columns if col.startswith('ADATE_')]
df_dropped.drop(columns=adate_columns, inplace=True)

# Check if 'ADATE_2' exists in the DataFrame before proceeding
if 'ADATE_2' in df_dropped.columns:
    # Check unique values in the column 'ADATE_2'
    adate_2_values = df_dropped['ADATE_2'].unique()

    # If the values are pretty much the same, remove the 'ADATE_2' column
    if len(adate_2_values) <= 1:
        df_dropped.drop(columns='ADATE_2', inplace=True)

# Print the updated DataFrame
print(df_dropped)

       ODATEDW OSOURCE  TCODE STATE    ZIP PVASTATE   DOB RECINHSE RECP3  \
0         8901     GRI      0    IL  61081           3712
1         9401     BOA      1    CA  91326           5202
2         9001     AMH      1    NC  27017              0
3         8701     BRY      0    CA  95953           2801
4         8601              0    FL  33176           2001        X     X
...        ...     ...    ...   ...    ...      ...   ...      ...   ...
95407     9601     ASE      1    AK  99504              0
95408     9601     DCD      1    TX  77379           5001
95409     9501     MBC      1    MI  48910           3801              X
95410     8601     PRV      0    CA  91320           4005        X
95411     8801     MCC      2    NC  28409           1801        X

      RECPGVG  ... TARGET_D HPHONE_D RFA_2R  RFA_2F RFA_2A MDMAUD_R MDMAUD_F  \
0              ...      0.0        0      L       4      E        X        X
1              ...      0.0        0      L       2      G        X        X
2              ...      0.0        1      L       4      E        X        X
3              ...      0.0        1      L       4      E        X        X
4              ...      0.0        1      L       2      F        X        X
...       ...  ...      ...      ...    ...     ...    ...      ...      ...
95407          ...      0.0        0      L       1      G        X        X
95408          ...      0.0        1      L       1      F        X        X
95409          ...      0.0        1      L       3      E        X        X
95410          ...     18.0        1      L       4      F        X        X
95411       X  ...      0.0        1      L       1      G        C        1

      MDMAUD_A CLUSTER2 GEOCODE2
0            X     39.0        C
1            X      1.0        A
2            X     60.0        C
3            X     41.0        C
4            X     26.0        A
...        ...      ...      ...
95407        X     12.0        C
95408        X      2.0        A
95409        X     34.0        B
95410        X     11.0        A
95411        C     12.0        C

[95412 rows x 455 columns]